apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "evo-todo.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "evo-todo.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "evo-todo.name" . }}
    spec:
      containers:
      - name: backend
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_URL
          value: {{ if .Values.postgres.enabled }}"postgresql://{{ .Values.postgres.user }}:{{ .Values.postgres.password }}@{{ .Values.postgres.host }}/{{ .Values.postgres.db }}"{{ else }}"sqlite:////data/database.db"{{ end }}
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: {{ include "evo-todo.fullname" . }}-pvc
